*

!.gitignore
!.vimrc
!.bashrc
!.bash_aliases

# TODO this is a bit convoluted lol (but I don't want to track all my configs
!.config
.config/*
!.config/qtile
.config/qtile/*
!.config/qtile/config.py

!.config/sway
.config/sway/*
!.config/sway/config
!.config/sway/status

!.local
.local/*
!.local/scripts
.local/scripts/*
!.local/scripts/flatpak-launchers

