*

LICENSE
packages

!.gitignore
!.bashrc
!.bash_aliases
!.vimrc
!.Xresources

!.config
.config/*
!.config/kitty
!.config/mako
!.config/qtile
!.config/ranger
!.config/sway
!.config/waybar
!.config/wallpaper
!.config/ironbar
!.config/hypr

!.local
.local/*
!.local/scripts
.local/scripts/*
!.local/scripts/flatpak-launchers

