* {
	min-height: 0;
   font-size: 16px;
	font-family: JetBrainsMono;
}

window#waybar {
	background: #282a36;
	color: #f8f8f2;
}

tooltip {
   background-color: #44475a;
   border-color: #f8f8f2;
   border-radius: 0;
   border-width: 2px;
   color: #f8f8f2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #44475a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #44475a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#tray {
	background: #44475a;
}

#workspaces button {
	padding: 0 2px;
	color: #f8f8f2;
}
#workspaces button.focused {
	color: #50fa7b;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #44475a;
	border: #44475a;
	padding: 0 3px;
}

#pulseaudio {
	color: #8be9fd;
}
#memory {
	color: #bd93f9;
}
#cpu {
	color: #f1fa8c;
}
#battery {
	color: #50fa7b;
}
#disk {
	color: #ffb86c;
}
#network {
   color: #ff5555;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#tray {
	padding: 0 10px;
}
